{
	email {$TOPLINK_ACME_EMAIL}
	servers {
		trusted_proxies static private_ranges
	}
}

(redacted-access-log) {
	log {
		output stdout
		format filter {
			request>uri query {
				replace intent REDACTED
			}
			wrap json
		}
	}
}

{$TOPLINK_PUBLIC_HOST} {
	encode zstd gzip
	reverse_proxy web:3000
	import redacted-access-log
}

{$TOPLINK_CMS_HOST} {
	encode zstd gzip
	request_body {
		max_size 32MB
	}
	reverse_proxy wordpress:80
	import redacted-access-log
}
